@tailwind utilities;

@font-face {
	font-family: "PPNeueMachina";
	font-weight: 400;
	src: url("../assets/font/PPNeueMachina-PlainVariable.ttf") format("truetype");
}



@layer components {
	/* Vos composants personnalisés ici */
	.bg-dark {
		background-color: #111827;
	}

	.PPNeueMachina-regular {
		font-family: "PPNeueMachina", system-ui;
		font-weight: 400;
		font-style: normal;
	}

	.Inter-regular {
		font-family: "Inter", system-ui;
		font-weight: 400;
		font-style: normal;
	}

	.Roboto-regular {
		font-family: "Roboto", system-ui;
		font-weight: 400;
		font-style: normal;
	}
}
