@tailwind utilities;

	@font-face {
		font-family: "Tagesschrift";
		font-weight: 400;
		src: url("../assets/font/Tagesschrift-Regular.ttf") format('truetype');
	}
	/* @font-face {
		font-family: Tagesschrift;
		font-weight: 500;
		src: url('../assets/fonts/Tagesschrift-Medium.ttf') format('truetype');
	} */


@layer components {
	/* Vos composants personnalisés ici */
	.bg-dark {
		background-color: #111827;
	}

	.tagesschrift-regular {
		font-family: "Tagesschrift", system-ui;
		font-weight: 400;
		font-style: normal;
	}
}
